<div class="container">
	<div class="row">

		<h2>レビュー編集</h2>
		<%= form_for(@ramen_noodle, url:user_ramen_noodle_path) do |f| %>
		<% if @ramen_noodle.errors.any? %>
		<h3><%= @ramen_noodle.errors.count %>件のエラーがあるので更新できませんでした</h3>
		<% @ramen_noodle.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
		<% end %>

		<div class="ramen_noodle_image col-xs-3">
			<%= attachment_image_tag @ramen_noodle, :image, :fill, 250, 250, fallback: "no_image.png", size:"250x250" %>
		<%= f.attachment_field :image %>
		</div>

		<div class="col-xs-9">
			<%= f.label :"商品名", class: "col-xs-12 col-sm-3 col-form-label" %>
			<div class="">
				<%= f.text_field :name, autofocus: true, placeholder: "（商品名）", class: "form-control" %>
			</div>
		</div>

		<div class="col-xs-9">
			<%= f.label :"値段", class: "col-xs-12 col-sm-3 col-form-label" %>
			<div class="">
				<%= f.text_field :price, autofocus: true, placeholder: "（値段）", class: "form-control" %>
			</div>
		</div>

		<div class="col-xs-9">
			<%= f.label :"店名", class: "col-xs-12 col-sm-3 col-form-label" %>
			<div class="">
				<%= f.text_field :title, autofocus: true, placeholder: "（店名）", class: "form-control" %>
			</div>
		</div>

		<div class="col-xs-9">
			<%= f.label :"住所", class: "col-xs-12 col-sm-3 col-form-label" %>
			<div class="">
				<%= f.text_field :address, autofocus: true, placeholder: "（住所）", class: "form-control" %>
			</div>
		</div>

		<div class="col-xs-9">
			<%= f.label :"レビュー", class: "col-xs-12 col-sm-3 col-form-label" %>
			<div class="">
				<%= f.text_area :body, autofocus: true, placeholder: "（レビュー）", class: "form-control" %>
			</div>
		</div>

		<div class="actions pull-right">
			<%= f.submit 'レビューを変更する', class: "btn btn-primary" %>
			<%= link_to 'レビューを削除する', user_ramen_noodle_path(@ramen_noodle.id),method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn btn-danger destroy_user_ramen_noodle_#{@ramen_noodle.id}" %>
		</div>
		<% end %>

	</div>
</div>