<div class="container">
	<div class="row">

		<h2>ラーメンレビュー一覧</h2>
		<table class="table table-inverse">
			<thead>
				<tr>
					<th></th>
					<th>店名</th>
					<th>商品名</th>
					<th>ユーザー</th>
					<th></th>
					<th></th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<% @ramen_noodles.each do |ramen_noodle| %>
					<td><%= attachment_image_tag ramen_noodle, :image, :fill, 250, 250, fallback: "no_image.png", size:"250x250" %></td>
					<td><%= ramen_noodle.title %></td>
					<td><%= link_to ramen_noodle.name, user_ramen_noodle_path(ramen_noodle) %></td>
					<td><%= ramen_noodle.user.name %></td>

					<td>
						<% if ramen_noodle.favorited_by?(current_user) %>
						<%= link_to user_ramen_noodle_favorites_path(ramen_noodle), method: :delete do %>
						<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
						<%= ramen_noodle.favorites.count %>
						<% end %>
						<% else %>
						<%= link_to user_ramen_noodle_favorites_path(ramen_noodle), method: :post do %>
						<i class="fa fa-heart" aria-hidden="true"></i>
						<%= ramen_noodle.favorites.count %>
						<% end %>
						<% end %>
					</td>

					<td>
						<%= link_to "#{ramen_noodle.ramen_noodle_comments.count} 件のコメント", user_ramen_noodle_path(ramen_noodle.id) %>
					</td>

				</tr>
				<% end %>
			</tbody>
		</table>

	</div>
</div>
<%= paginate @ramen_noodles %>