<div class="container">
	<div class="row">
		<h2>レビュー詳細</h2>

		<div class="col-xs-4">
			<%= attachment_image_tag(@ramen_noodle, :image, :fill, 380, 380) %>
		</div>

		<div class="col-xs-8">
			<table class="table table-bordered">
				<tbody>
					<tr>
						<td class="active">店名</td>
						<td><%= @ramen_noodle.title %></td>
					</tr>

					<tr>
						<td class="active">住所</td>
						<td>
							<%= @ramen_noodle.address %>
							<script type="text/javascript">
								function initMap() {
									var test ={lat: <%= @ramen_noodle.latitude %>, lng: <%= @ramen_noodle.longitude %>};
									var map = new google.maps.Map(document.getElementById('map'), {
										zoom: 15,
										center: test
									});
									var transitLayer = new google.maps.TransitLayer();
									transitLayer.setMap(map);

									var contentString = '住所:<%= @ramen_noodle.address %>';
									var infowindow = new google.maps.InfoWindow({
										content: contentString
									});

									var marker = new google.maps.Marker({
										position:test,
										map: map,
										title: contentString
									});

									marker.addListener('click', function() {
										infowindow.open(map, marker);
									});
								}
							</script>

							<script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
							</script>

							<style type="text/css">
								#map { height: 250px; width: 100%;}
							</style>

							<div id="map"></div>
						</td>
					</tr>

					<tr>
						<td class="active col-xs-3 col-sm-4">商品名</td>
						<td><%= @ramen_noodle.name %></td>
					</tr>

					<tr>
						<td class="active">値段</td>
						<td><%= @ramen_noodle.price %>円(税込)</td>
					</tr>

					<tr>
						<td class="active">レビュー</td>
						<td><%= @ramen_noodle.body %></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="pull-right">
			<% if @ramen_noodle.user == current_user %>
			<%= link_to "レビュー内容編集", edit_user_ramen_noodle_path(@ramen_noodle), class: "btn-sm btn-primary edit_ramen_noodle_#{@ramen_noodle.id}" %>
			<% end %>
		</div>

		<i class="fa fa-comment"></i>
		<%= @ramen_noodle.ramen_noodle_comments.count %>

		<% if @ramen_noodle.favorited_by?(current_user) %>
		<%= link_to user_ramen_noodle_favorites_path(@ramen_noodle), method: :delete do %>
		<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
		<%= @ramen_noodle.favorites.count %>
		<% end %>
		<% else %>
		<%= link_to user_ramen_noodle_favorites_path(@ramen_noodle), method: :post do %>
		<i class="fa fa-heart" aria-hidden="true"></i>
		<%= @ramen_noodle.favorites.count %>
		<% end %>
		<% end %>

		<div class="comment-list bt style-2" id="comments">
			<div class="float-wrapper">
				<h2 class="comment-count"><%= @ramen_noodle.ramen_noodle_comments.count %>件のコメントがあります</h2>
			</div>
		</div>

		<% @ramen_noodle.ramen_noodle_comments.each do |ramen_noodle_comment| %>
		<div class="comment-body bb">
			<div class="comment-text">
				<div class="comment-author clearfix">
					<%= ramen_noodle_comment.user.name %></a>
					<span class="comment-meta">
						<span class="comment-date"><%= ramen_noodle_comment.created_at.strftime('%Y/%m/%d') %></span>
					</span>
				</div>
				<div class="comment-entry">
					<%= ramen_noodle_comment.comment %>
				</div>
				<% if ramen_noodle_comment.user == current_user %>
				<div>
					<%= link_to "コメント削除", user_ramen_noodle_ramen_noodle_comment_path(ramen_noodle_comment.ramen_noodle, ramen_noodle_comment), method: :delete, class: "btn btn-danger" %>
				</div>
				<% end %>
			</div>
		</div>
		<% end %>

		<%= form_for [@ramen_noodle, @ramen_noodle_comment], url: user_ramen_noodle_ramen_noodle_comments_path(@ramen_noodle.user) do |f| %>
		<%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに入力してください" %>
		<%= f.submit "コメントを投稿する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
		<% end %>

	</div>
</div>