<div class="container">
	<div class="row">
		<h2>レビュー詳細</h2>

		<div class="col-xs-3">
			<%= attachment_image_tag(@ramen_noodle1, :image, :fill, 250, 250) %>
		</div>

		<div class="col-xs-9">
			<table class="table table-bordered">
				<tbody>
					<tr>
						<td class="active col-xs-3 col-sm-4">商品名</td>
						<td><%= @ramen_noodle1.name %></td>
					</tr>

					<tr>
						<td class="active">値段</td>
						<td><%= @ramen_noodle1.price %>円</td>
					</tr>

					<tr>
						<td class="active">店名</td>
						<td><%= @ramen_noodle1.title %></td>
					</tr>

					<tr>
						<td class="active">住所</td>
						<td><%= @ramen_noodle1.address %></td>
					</tr>

					<tr>
						<td class="active">レビュー</td>
						<td><%= @ramen_noodle1.body %></td>
					</tr>
				</tbody>
			</table>

			<% if @ramen_noodle1.favorited_by?(current_user) %>
			<li>
				<%= link_to user_ramen_noodle_favorites_path(@ramen_noodle1), method: :delete do %>
				<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
				<%= @ramen_noodle1.favorites.count %>
				<% end %>
			</li>
			<% else %>
			<li>
				<%= link_to user_ramen_noodle_favorites_path(@ramen_noodle1), method: :post do %>
				<i class="fa fa-heart" aria-hidden="true"></i>
				<%= @ramen_noodle1.favorites.count %>
				<% end %>
			</li>
			<% end %>

			<div>
				<%= link_to "編集", edit_user_ramen_noodle_path(@ramen_noodle1), class: "btn-sm btn-success edit_ramen_noodle_#{@ramen_noodle1.id}" %>
			</div>
		</div>

	</div>
</div>