<div class="container">
	<div class="row">
		<h2>レビュー詳細</h2>

		<div class="col-xs-3">
			<%= attachment_image_tag(@ramen_noodle, :image, :fill, 250, 250) %>
		</div>

		<div class="col-xs-9">
			<table class="table table-bordered">
				<tbody>
					<tr>
						<td class="active col-xs-3 col-sm-4">商品名</td>
						<td><%= @ramen_noodle.name %></td>
					</tr>

					<tr>
						<td class="active">値段</td>
						<td><%= @ramen_noodle.price %>円</td>
					</tr>

					<tr>
						<td class="active">店名</td>
						<td><%= @ramen_noodle.title %></td>
					</tr>

					<tr>
						<td class="active">住所</td>
						<td><%= @ramen_noodle.address %></td>
					</tr>

					<tr>
						<td class="active">レビュー</td>
						<td><%= @ramen_noodle.body %></td>
					</tr>
				</tbody>
			</table>
		</div>

		<i class="fa fa-comment"></i>
		<a href="#comments"><%= @ramen_noodle.ramen_noodle_comments.count %></a>

		<% if @ramen_noodle.favorited_by?(current_user) %>
		<%= link_to user_ramen_noodle_favorites_path(@ramen_noodle), method: :delete do %>
		<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
		<%= @ramen_noodle.favorites.count %>
		<% end %>
		<% else %>
		<%= link_to user_ramen_noodle_favorites_path(@ramen_noodle), method: :post do %>
		<i class="fa fa-heart" aria-hidden="true"></i>
		<%= @ramen_noodle.favorites.count %>
		<% end %>
		<% end %>

		<div class="comment-list bt style-2" id="comments">
			<div class="float-wrapper">
				<h2 class="comment-count"><%= @ramen_noodle.ramen_noodle_comments.count %>件コメント</h2>
			</div>
		</div>

		<% @ramen_noodle.ramen_noodle_comments.each do |ramen_noodle_comment| %>
		<div class="comment-body bb">
			<div class="comment-text">
				<div class="comment-author clearfix">
					<a href="#" class="link-author"><%= ramen_noodle_comment.user.name %></a>
					<span class="comment-meta">
						<span class="comment-date"><%= ramen_noodle_comment.created_at.strftime('%Y/%m/%d') %></span>
					</span>
				</div>
				<div class="comment-entry"><%= ramen_noodle_comment.comment %></div>
			</div>
		</div>
		<% end %>

		<div>
			<% if @ramen_noodle.user == current_user %>
			<%= link_to "編集", edit_user_ramen_noodle_path(@ramen_noodle), class: "btn-sm btn-success edit_ramen_noodle_#{@ramen_noodle.id}" %>
			<% end %>
		</div>

	</div>
</div>