<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample7">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <% if admin_signed_in? %>
        <a class="navbar-brand" href="/admin">
          <% else %>
        </a>
        <a class="navbar-brand" href="/">
          <% end %>
        </a>

        <div class="shopname pull-left">
          <% if admin_signed_in? %>
          <a href="/admin"></a>
          <% else %>
          <a href="/">
            <% end %>
            <p class="shopname1">ラーメンのレビュー投稿サイト</p>
            <p class="shopname2">Ramen Japan</p>
          </a>
        </div>
      </div>

      <div class="collapse navbar-collapse" id="navbarEexample7">
        <ul class="nav navbar-nav navbar-left"></ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
          <li class="btn"><%= link_to "マイページ", user_user_path(:id) %></li>
          <li class="btn"><%= link_to "レビュー一覧", user_ramen_noodles_path %></li>
          <li class="btn"><%= link_to "レビュー検索", search_user_ramen_noodles_path, method: :get %></li>
          <li class="btn"><%= link_to "レビュー投稿", new_user_ramen_noodle_path %></li>
          <li class="btn"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
          <% elsif admin_signed_in? %>
          <li class="btn"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
          <% else %>
          <li class="btn"><%= link_to "About", about_path %></li>
          <li class="btn"><%= link_to "新規登録", new_user_registration_path %></li>
          <li class="btn"><%= link_to "ユーザーログイン", new_user_session_path %></li>
          <li class="btn"><%= link_to "管理者ログイン", new_admin_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
