<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>RamenJapan</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= render 'layouts/header' %>

  <div class="container main">
    <p id="notice"><%= notice %></p>
    <%= yield %>
  </div>

  <footer class="fixed-bottom navbar-fixed-bottom">
    <div class="container">
      <p class="pull-left copyright">© All rights reserved by tosi Company</p>
    </div>
  </footer>
</body>
</html>
